<h2>Dashboard</h2>
<div class="container">
    <div class="row">
        <div class="col">
            <h4>Balace : <%=locals.user.balance%></h4>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <a href="/customer/depositepage">Deposite money</a>
        </div>
        <div class="col-6">
            <a href="/customer/withdrawalpage">withdrawal money</a>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <% if(locals.user && locals.user.isSaving==true){%>
            <a href="/customer/applyloanpage">Apply for loan</a>
            <%}else{%>
                <p>Apply Loan Facility only for saving account users</p>
                <a href="/customer/convertintoSavingpage">Convert TestAcount into Saving account</a>
            <%}%>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Amount to apply loan</th>
                    <th scope="col">Loan Paid</th>
                    <th scope="col">Rate of Intest</th>
                    <th scope="col">Approve Amount</th>
                    <th scope="col">is Reject</th>
                  </tr>
                </thead>
                <tbody>
                <%for(let l of loan){%>
                  <tr>
                    <td><%=l.LoanAmount%></td>
                    <td><%=l.isPaid%></td>
                    <td><%=l.RateOfIntrest%></td>
                    <td><%=l.sanctionAmount%></td>
                    <td><%=l.isReject%></td>
                  </tr>
                
            <%}%>
        </div>
    </div>
</div>